body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("./ProductImages/gradi.jpg");
  /* background-color: teal; */
}
ul.home{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: teal;
}

ul.topnav li {
  float: left; 
  list-style:none;
  
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
  /* padding: 14px 16px; */
  text-decoration: none;
}

.toggleButton{
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px; 

}

.toggleButton .bar{
  height: 3px;
  width:100%;
  background-color: white; 
  border-radius: 10px;
}

ul.topnav li a:hover:not(.active) {background-color: grey; color: rgb(3, 3, 59)}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media (max-width: 500px) {
  .toggleButton{
    display:none;
    margin: 0 auto;  
    top: 1rem;
  }
  
  /* .link {
     display:none 
  } */

  ul.topnav li {
    flex-direction: column;
    align-items:flex-start;
    float:none;
    line-height: .6rem;
    
    
}
  ul.topnav li.right, ul.topnav li {float: none;}

  ul .topnav{
    width:100%;
    flex-direction: column;
  }

  ul .topnav .link a.active {
    display:flex;
  }
}
/*

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
} */
